* {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
  background-color: transparent;
  font-family: roboto, sans-serif;
}

body {
  position: relative;
}

button {
  cursor: pointer;
  border-radius: 0.25em;
}

a {
  color: $blue;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.center {
  top: 50%;
  left: 50%;
  position: absolute;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.center-text {
  text-align: center;
}

.row {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.input-error {
  border: red solid 1px !important;
}

.text-error {
  color: red;
}

.popup {
  top: 0;
  left: 0;
  z-index: 9;
  width: 100vw;
  height: 100vh;
  display: none;
  position: fixed;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
}

.block {
  display: block;
}

.flex {
  display: flex;
}

.close-btn {
  top: 0.5em;
  right: 0.5em;
  z-index: 2;
  position: absolute;
  width: 2em;
  height: 2em;
  border-radius: 1em;
  text-align: center;
  font-size: 1em;
  font-weight: bold;
  color: rgb(121, 121, 121);
}

.close-btn:hover {
  background-color: rgba($color: #333, $alpha: 0.2);
}

.home-title {
  font-size: 28px;
  margin-top: 1.5em;
  width: 100%;
  font-weight: 200;
  font-weight: normal;
  font-style: normal;
  font-family: "Open Sans", Arial, Helvetica, "Nimbus Sans L", sans-serif;
  color: #333;
}

.home-title-sub {
  font-size: 14px;
  margin-top: 0.5em;
  width: 100%;
  font-weight: normal;
  font-style: normal;
  font-family: "Open Sans", Arial, Helvetica, "Nimbus Sans L", sans-serif;
  color: $lightblue;
}

.mobile-display {
  display: none;
}

@media (max-width: 600px) {
  .mobile-display {
    display: block !important;
    margin-left: 0 !important;
  }
}
