$blue: rgb(0, 110, 255);
$lightblue: rgb(66, 217, 255);
$blue-light: rgb(50, 137, 250);
$shadow: 0 0 0.5em rgb(126, 126, 126);
$border: rgb(214, 214, 214) solid 1px;
$background-blue: #79acff;
$hover-color: rgb(34, 194, 223);
